<% if user_signed_in? %>
	<div class ="row">
		<%= render 'shared/main_jumbotron'%>
		<%= render 'shared/welcome' %>

		<% if current_user.houses.any? %>
			<h1>Your registered houses</h1>
			<div class="row">
				<div class="col-md-3">
					<div style='width: 100%;'>
		        	<div id="map" style='height: 250px;'></div>
		       		</div>
					<%= render 'shared/house_map' %>
				</div>
				<div class="col-md-8">
					<%= render 'shared/feed' %>
				</div>
			</div>
		<% end %>
	</div>

<% else %>

	<!-- Welcome and signup prompt -->
	<div class ="row">
		<%= render 'shared/main_jumbotron'%>		  
	</div>

	<!--Application Features -->
	<%= render 'shared/welcome' %>

<% end %>


