<%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
  <%= f.hidden_field :subject , :value => conversation.subject %>
  
  
  <%= f.label "Reply" %>
  <%= f.text_area :body, as: :text %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
