<% provide(:title, @house.user.name) %>

<div class="row">
  <aside class="col-md-2 text-center">
    <section>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Owner Details</h3>
        </div>
        <div class="panel-body ">
          <%= render "/shared/message_modal" , :user => @house.user, :first_message => true  %>
          <%= render 'shared/user_info' , :user => @house.user %>
        </div>
      </div>
    </section>  
  </aside>


  <div class="col-md-6">
    <%= render 'shared/house_images_slider', :house => @house %></br>

    <div class="panel panel-default">
        <div class="panel-heading text-center">
         <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Reviews</h3>
        </div>
        <div class="panel-body ">
          <div class="comments">
          <%= render @comments %>
          <%= will_paginate @comments %>
          </div>
          <% if user_signed_in? && hasnt_commented?(current_user.id, @comments) %>
          <%= render "/comments/form" ,  :comment => @new_comment %>
          <% end %>
        </div>
    </div>

  </div>
  
 

  <div class="col-md-4">
    <%= render 'shared/house_details', :house => @house %>
  </div>
</div>






