
<%= form_for :conversation, url: :conversations do |f| %>
   
   <%= f.hidden_field :recipients %>

   <%= f.label :subject %>
   <%= f.text_field :subject %>
  
  <%= f.label :body %>
  <%= f.text_area :body, as: :text %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>