<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-2">
    <section>
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> User Details </h3>
        </div>
        <div class="panel-body text-center">
         <%= render 'shared/user_info' , :user => @user %>
        </div>
      </div>
        
    </section>
 
  </aside>


  <div class="col-md-8">
  	<%if @user.houses.any? %>
    	<h1>Registered houses (<%= @user.houses.count %>) </h1>
      
      <%= render 'shared/house_map' %>

    	<ul class ="houses">
    		<%= render @houses %> 
    	</ul>
      <%= will_paginate @houses %>
    <% else %>
      <h2> <%= @user.name %> doesn't have any registered houses at the moment</h2>
  	<% end %>
  </div>

  
</div>