	<!-- House Description -->
	<div class="panel panel-default">
	  <div class="panel-heading text-center">
	    <h3 class="panel-title"><span class="glyphicon glyphicon-home"></span> Description</h3>
	  </div>
	  <div class="panel-body">
	   <%= house.description %>
	  </div>
	</div>

	<!--Price -->
	<div class="panel panel-default">
	  <div class="panel-heading text-center">
	    <h3 class="panel-title"> <span class="glyphicon glyphicon-euro"></span> Price per month</h3>
	  </div>
	  <div class="panel-body text-center text-primary">
	   <h4><%= house.price %> <span class="glyphicon glyphicon-euro"></span></h4>
	  </div>
	</div>

	<!--Address and Map -->
	
	<div class="panel panel-default">
	  <div class="panel-heading text-center">
	    <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span> Location</h3>
	  </div>
	  <div class="panel-body">
		  <address>
			  <strong><%= house.address %></strong>,
			  <%= house.city %>,
			  <%= IsoCountryCodes.find(house.country).name %><br>
		  </address>
		   
		  <div style='width: 100%;' class="well">
	        <div id="map" style='height: 250px;'></div>
	      </div>
	      <%= render 'shared/house_map' %>
	  </div>
	</div>
	
	<% if current_user == house.user %>
    <%= link_to "Delete this house", house, method: :delete, data: { confirm: "You are going to delete this house. Proceed?" }, :class => "btn btn-primary btn-large"%>
    <% end %>