
 <div id="wrapper">
      <div id='<%= house.id %>' class="carousel slide" data-interval="false" data-ride="carousel">
      <!-- Carousel Indicators -->
      <ol class="carousel-indicators">
        <% house.pictures.count.times do |count| %>
          <li data-target='#<%= house.id %>' data-slide-to='<%= count %>' <%if count==0%> class="active" <%end%>></li>
        <% end %>
      </ol>
      <!-- Carousel Items -->
      <div class="carousel-inner">
        <% house.pictures.each_with_index do |picture, index| %>
          <div class="item <% if index == 0%>active<% end %>">
          <%= image_tag(picture.image_url(:slider)) %>
          </div>
        <% end %>
      </div>
      <!--next and previous controls -->
      <a class="left carousel-control" href='#<%= house.id %>' data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href='#<%= house.id %>' data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>