<%= image_tag(user.avatar_url(:thumb), class: "img-circle") if user.avatar? %>

<h4>
  <%= user.name %>
</h4>
<h5>
  <%= pluralize(user.houses.count, "house") %>
</h5>
<div class="btn-group-vertical">
<%= link_to "View Profile", user, class: "btn btn-large btn-primary" %>

<%= link_to "Message Owner", "#new_message", "data-toggle" => "modal", class: "btn btn-primary btn-large" %>

</div>

