<div class ="row">
<h1>Search Results</h1>
<%if @search.found_houses.any? %>
	<div class="col-md-3">
		<%= render 'shared/map_panel' %>
		<%= link_to "Try another search",  newsearch_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Home",  root_path, class: "btn btn-large btn-primary" %>
	</div>

	<div class="col-md-8">
		<ul class="list-group">
			<%= will_paginate @found_houses %>
			<%= render @found_houses %>
			<%= will_paginate @found_houses %>
		</ul>
	</div>
	
<% else %>
	<div class ="col-md-4 col-md-offset-4 text-center">
		<h3> No results matching your criteria! </h3>
		<%= link_to "Try another search",  newsearch_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>
</div>



